<div class="forgot-password-area" [class.dark-theme]="themeService.isDark()">
  <div
    class="trezo-form mx-auto"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
  >
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <div class="form-image">
          <img src="e1.webp" alt="sign-in-image" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <div class="form-content">
          <div
            *ngIf="message"
            class="message"
            [ngClass]="{ success: isSuccess, error: isError }"
          >
            <button class="close-btn" (click)="clearMessage()">×</button>
            <span class="message-text">{{ message }}</span>
          </div>
          <div class="logo">
            <img src="images/logo-big.svg" alt="logo" />
            <img src="images/white-logo-big.svg" class="d-none" alt="logo" />
          </div>
          <div class="title">
            <h1 class="fw-semibold">Forgot your password?</h1>
            <p class="fw-medium">
              Enter the email address you used when you joined and we’ll send
              you instructions to reset your password.
            </p>
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onRequestReset()">
            <div class="form-group">
              <label class="main-label d-block fw-medium text-black">
                Email Address
              </label>
              <input
                type="email"
                class="form-control"
                placeholder="example&#64;trezo.com"
                formControlName="email"
              />
              <!-- Afficher un message d'erreur si l'email est invalide -->
              <div
                *ngIf="
                  forgotPasswordForm.get('email')?.invalid &&
                  forgotPasswordForm.get('email')?.touched
                "
                class="text-danger"
              >
                <small
                  *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
                >
                  L'email est requis.
                </small>
                <small
                  *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
                >
                  Veuillez entrer une adresse email valide.
                </small>
              </div>
            </div>
            <button
              type="submit"
              class="btn-box d-block w-100 border-0 transition fw-medium border-radius"
              [disabled]="forgotPasswordForm.invalid"
            >
              <span class="d-flex align-items-center justify-content-center">
                <i class="material-symbols-outlined"> autorenew </i>
                Send Reset Instructions
              </span>
            </button>
            <p class="info">
              Back to
              <a routerLink="/authentication" class="fw-semibold text-primary"
                >Sign In</a
              >
            </p>
          </form>

          <!-- Messages de succès ou d'erreur -->
        </div>
      </div>
    </div>
  </div>
</div>
