<div
  class="reset-password-area"
  [class.dark-theme]="themeService.isDark()"
>
  <div
    class="pgap-form mx-auto"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
  >
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 order-2 order-lg-1">
        <div class="form-image">
          <img src="images/reset-password.jpg" alt="reset-password-image">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-1 order-lg-2">
        <div class="form-content">
          <div class="logo">
            <img src="images/logo-big.svg" alt="logo">
            <img src="images/white-logo-big.svg" class="d-none" alt="logo">
          </div>
          <div class="title">
            <h1 class="fw-semibold">Réinitialisation du mot de passe</h1>
            <p class="fw-medium">
              Entrez votre nouveau mot de passe et confirmez-le.
            </p>
          </div>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group position-relative">
              <label class="main-label d-block fw-medium text-black">
                Nouveau mot de passe
              </label>
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="newPassword"
                name="newPassword"
                class="form-control"
                placeholder="Nouveau mot de passe"
                required
              >
              <button
                type="button"
                (click)="togglePasswordVisibility()"
                class="icon-button p-0 border-0 bg-transparent transition"
              >
                <i [ngClass]="isPasswordVisible ? 'ri-eye-line' : 'ri-eye-off-line'"></i>
              </button>
              <div *ngIf="passwordError" class="text-danger mt-2">
                {{ passwordError }}
              </div>
            </div>
            <div class="form-group position-relative">
              <label class="main-label d-block fw-medium text-black">
                Confirmer le mot de passe
              </label>
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                class="form-control"
                placeholder="Confirmer le mot de passe"
                required
              >
              <div *ngIf="confirmError" class="text-danger mt-2">
                {{ confirmError }}
              </div>
            </div>
            <button type="submit" class="btn-box d-block w-100 border-0 transition fw-medium border-radius">
              <span class="d-flex align-items-center justify-content-center">
                <i class="material-symbols-outlined">autorenew</i>
                Réinitialiser
              </span>
            </button>
            <p class="info">
              Retour à <a routerLink="/authentication" class="fw-semibold text-primary">Connexion</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
